<!doctype html>
<html lang="en">

{% load staticfiles  %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The Front Page to My Interwebs">

    <title>H4ckFu by Trip Kendall</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>

<header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">h4ckfu</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="https://twitter.com/h4ckfu">Twitter</a>
      <a class="nav-item nav-link" href="{% static 'Resume.pdf' %}">Resume</a>
      <a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>
    </div>
  </div>
</nav>

</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <img src="{% static 'jim.jpg' %}" class="img-fluid img-thumbnail rounded float-left" />
      <h1 class="jumbotron-heading">The Front Page to My Interwebs</h1>
      
      <p class="lead text-muted">
        When there is something important going on, it will show up here...
      </p>
      
      <p>
        <a href="#" class="btn btn-primary my-2">Main call 2 action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    
                    <div class="card-body">
                        {% load pinax_news_tags %}
                        {% news as news_items %}
                        <h5>Quick Links</h5>                        
                        <ul>
                                {% for news_item in news_items %}
                            <li><a href="{{ news_item.url }}">{{ news_item.title }}</a></li>
                                    {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div> <!--end row class -->

    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>A Trip Kendall Joint {% now "Y" %}</p>
    <p>Visit my main site: <a href="https://tripkendall.com.com/">Trip Kendall.com</a> or follow me on <a href="https://twitter.com/h4ckfu">Twitter</a>.</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>

</html>